<body>
  <div id="preloder">
    <div class="loader"></div>
  </div>
  <%= render 'shared/navbar'%>
  <div class="page-info-section set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1632426999/homepage_bblzst.png">
    <div class="container">
      <div class="hero-text text-white">
        <h1>ESPACE CLIENT </h1>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="section-title mb-0">
        <h2>Créer mon profil</h2>
      </div>
      <%= render 'form', profile: @profile %>
      <a href="<%=pages_home_path%>" class='btn btn-secondary'>Retour à l'accueil</a>
   </div>
  </section>
</body>

