<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>
  <%= render 'shared/navbar'%>
  <div class="page-info-section set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1632426999/homepage_bblzst.png">
    <div class="container">
      <div class="site-breadcrumb">
        <a style="color:black;" href="#">Accueil</a>
        <span>Nouvel article</span>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <%= render 'form', article: @article %>
    </div>
  </section>
  <%= render 'shared/footer'%>
</body>
