<section class="search-section ss-other-page">
    <div class="container">
      <div class="search-warp">
        <div class="section-title text-white">
          <h2><span>Recherchez votre article</span></h2>
        </div>
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <!-- search form -->
            <form class="course-search-form">
              <input type="text" placeholder="Article">
              <input type="text" class="last-m" placeholder="Catégorie">
              <button class="site-btn btn-dark">Rechercher</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
