  <section class="search-section">
    <div class="container">
      <div class="search-warp">
        <div class="section-title text-white">
          <h2>Recherchez votre article</h2>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <!-- search form -->
            <form class="course-search-form" action="<%=search_path%>" target="_blank" type="get" >
              <input type="text"   id="title" name="title" placeholder="Mot-Clef">

              <input  type="submit" value="chercher" class="site-btn">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
