<body>

<section class="hero-section set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1632426999/homepage_bblzst.png">
    <div class="container">
      <div class="hero-text text-white">
        <h1>Scellement & Collage</h1>
        <h3>La E-formation dentaire enfin libre et quand vous voulez!</h3>
        <br>
        <h3 style="color:black;">Plateforme bientôt disponible</h3>
        <br>
        <br>
        <a href="<%=pages_contact_path%>" class="site-btn">Cela m'intéresse</a>
      </div>
    </div>
  </section>
    <a href="<%=pages_home_path%>">Accès admin</a>



</body>
